recursive-include RF24* *
recursive-include cmake *
recursive-include src *.cpp *.typed
recursive-include pybind11 *
recursive-exclude */.github *
recursive-exclude */docs *
recursive-exclude */examples* *
recursive-exclude .github *
recursive-exclude docs *
recursive-exclude examples* *
recursive-exclude */images *
recursive-exclude */tests *
recursive-exclude */build *
recursive-exclude */cmake/toolchains *.cmake
recursive-exclude RF24/utility/AT* *.h *.cpp *.c
recursive-exclude RF24/utility/Teensy *.h
recursive-exclude RF24/utility/Template* *.h
recursive-exclude RF24/utility/rp2 *.h *.cpp *.txt
recursive-exclude RF24*/pyRF24* *
recursive-exclude RF24Network/RPi/pyRF24Network *
global-exclude .clang-format .clang-tidy .git* library.json library.properties Doxyfile keywords.txt Makefile* doxygen-custom.css **.yml **.yaml *.pdf
exclude */*.md */README* RF24/utility/includes.h RF24/configure .cspell.config.yml
include pyproject.toml setup.py CMakeLists.txt
