name: Build CI

on: [pull_request, push]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.7

      - name: Checkout Current Repo
        uses: actions/checkout@v2
        with:
          submodules: true
          fetch-depth: 0

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
        with:
          platforms: all

      - name: Build wheels with cibuildwheels
        uses: pypa/cibuildwheel@v2.8.1
        env:
          # configure cibuildwheel to build native archs ('auto'), and some
          # emulated ones
          CIBW_ARCHS_LINUX: auto aarch64
          # armhf is 32 bit and not supported by qemu
          # not sure if these are applicable to Linux-enabled SoCs:
          # ppc64le s390x

      - uses: actions/upload-artifact@v3
        with:
          name: "pyrf24_wheels"
          path: ./wheelhouse/*.whl

      - name: Install dependencies
        run: |
          sudo apt-get install python3-dev graphviz
          python3 -m pip install --upgrade pip pylint
          python3 -m pip install -r docs/requirements.txt -r requirements.txt

      - name: Build package for docs extraction and linting examples
        id: wheel
        run: |
          python3 setup.py bdist_wheel
          python3 -m pip install $(ls dist/pyrf24-*.whl)

      - name: check python examples PEP8 compliance
        run: |
          pylint examples/*.py --disable=duplicate-code
        # duplicate-code error gets flagged because some examples use similar code snippets

      - name: Build docs
        working-directory: docs
        run: sphinx-build -E -W -b html . _build/html

      - name: Save built docs as artifact
        uses: actions/upload-artifact@v3
        with:
          name: "pyRF24_docs"
          path: ${{ github.workspace }}/docs/_build/html

      - name: upload to github pages
        if: github.event_name != 'pull_request' && github.ref == 'refs/heads/main'
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/_build/html

      - name: Validate distribution
        run: |
          python3 -m pip install twine
          twine check dist/*
